body {
	background: url('../images/swirl.png');
	color: #887E7E;
}

.maintitle {
	font-family: 'Grand Hotel', cursive;
	text-align: center;
	font-size: 6em;
	color: #96C16A;
}

.navbar-default {
  background-color: #A8D2E6;
  border-color: #A8D2E6;
}

.navbar {
	margin-bottom: 0px;
}

.btn-primary {
	background-color: #B0CFE2;
	border-color: #B0CFE2;
}
 
.explanation {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Didact Gothic', sans-serif;
	color: #B6BDBD;
	margin-bottom: 3%;
}

.add-icecream {
	text-align: center;
}

.fa-pencil {
	margin-left: 90%;
	color: #A6CFE4;
}

.fa-close {
	color: #F1B1B1;
}

#rating {
	color: #887E7E;
}

.icecream {
	text-align: center;
	position: absolute;
	width: 325px;
	height: 425px;
	background: url('http://www.misskatecuttables.com/uploads/shopping_cart/7725/large_cute-ice-cream-cone.png');
	-ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);

  position: relative;
  left:-1rem;
  top: 0rem;
  transition: all 300ms ease-in-out;
  margin-bottom: 30px;
}

.icecream:hover {
	top: -0.618rem;
  left: -0.382rem;
  -ms-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.scoop {
	color: #5B585F;
	margin-left: 20%;
	padding-right: -10px;
}

.main {
	margin-auto: 0 px;
}