body {
	background: url('../images/geometry.png');
}

.maintitle {
	font-family: 'Grand Hotel', cursive;
	text-align: center;
	font-size: 6em;
	color: #96C16A;
}

.navbar-default {
  background-color: #A8D2E6;
  border-color: #A8D2E6;
}

.navbar {
	margin-bottom: 0px;
}

.btn-primary {
	background-color: #B0CFE2;
	border-color: #B0CFE2;
}
 
.explanation {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Didact Gothic', sans-serif;
	color: #B6BDBD;
}

.add-icecream {
	text-align: center;
}